.header-custom {
    background-color: gray;
    color: #fff;/
}

.meu-titulo {
    color: rgb(0, 179, 255);
}

.localizacao strong {
    font-weight: bold;
}

.custom-hr {
    width: 200%;
}

.footer-custom {
    background-color: gray;
    color: #ffffff;/
}